<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="e"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="es"> <!--<![endif]-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Centro de Ayuda Valoriza2</title>
<meta charset="utf-8">
<meta name="description" content="...">
<meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<!-- up to 10% speed up for external res -->
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/">
<!-- preloading icon font is helping to speed up a little bit -->
<link rel="preload" href="{{constant('ROOT')}}assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{constant('ROOT')}}assets/css/core.min.css">
<link rel="stylesheet" href="{{constant('ROOT')}}assets/css/vendor_bundle.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
<!-- favicon -->
<link rel="shortcut icon" href="{{constant('ROOT')}}favicon.ico">
<link rel="apple-touch-icon" href="{{constant('ROOT')}}demo.files/logo/icon_512x512.png">
<link rel="manifest" href="{{constant('ROOT')}}assets/images/manifest/manifest.json">
<meta name="theme-color" content="#377dff">
</head>
<!--

Available Body Classes
.layout-boxed 					- boxed layout (ignored if any .header-* class is present)

.header-scroll-reveal  			- header : hide on scroll down and reveal on scroll up
.header-sticky  				- header : always visible on top
.header-over  					- header : over slider|parallax|image (next section must contain a large image, else will be indistinguishable)

Possible header combinations:
.header-over + .header-scroll-reveal
.header-over + .header-sticky
* NOTE: if .header-sticky + .header-scroll-reveal are both used, .header-scroll-reveal is ignored


.bg-cover .bg-fixed 			- both classes used with .layout-boxed to set a background image via style="background-image:url(...)"
-->
<body>
<div id="wrapper">
{% include 'misc/encabezado.html.twig' %}
<!-- INTRO -->
<section class="py-2">
<div class="container">
<div class="text-center max-w-800 mx-auto pb-5">
<h1 class="h2-xs font-weight-medium text-muted">
<div style="margin:0 auto">
<img src="{{constant('ROOT')}}assets/images/logo/logo_dark.png" title="Valoriza para tu negocio">
</div>
<span class="d-inline-block text-align-start">
<span class="d-block fs--20">
¿Cómo podemos ayudarte?
</span>
</span>
</h1>
<form action="{{constant('ROOT')}}buscar/" method="get" action="#" class="input-group-over d-block mb-2 max-w-500 mx-auto form-control-pill">
<input required placeholder="Describe el problema" name="s" type="text" class="form-control form-control-lg">
<button type="submit" class="btn btn-lg rounded-circle position-absolute fs--12">
<i class="fi fi-search m-0"></i>
</button>
</form>
</div>
<div class="col-12 col-lg-10 offset-lg-1 accordion shadow-xs aos-init aos-animate" 
     id="accordionBottomBorder" data-aos="fade-in" 
     data-aos-delay="250">
{% if popu %}
<div class="card border-bottom bl-0 br-0 bt-0">
<div class="card-header b-0 p-0 border bg-transparent" id="cleanHeadingBorder0">
<h2 class="mb-0">
<button class="fs--18 btn btn-link btn-block btn-lg text-align-start text-decoration-none text-dark collapsed" 
        type="button" data-toggle="collapse" data-target="#borderCollapse0" aria-expanded="false" aria-controls="borderCollapse0">
Artículos populares
<span class="group-icon float-end text-danger">
<i class="fi fi-arrow-start"></i>
<i class="fi fi-arrow-down"></i>
</span>
</button>
</h2>
</div>
<div id="borderCollapse0" class="collapse" aria-labelledby="cleanHeadingBorder0" data-parent="#accordionBottomBorder" style="">
<div class="card-body">
<ul class="nav flex-column d-lg-block">
    {% for item in popu %}
    <li class="list-item">
        <a class="d-block py-1" href="{{constant('ROOT')}}?item={{item.id}}">{{item.titulo}}</a>
    </li>
    {% endfor %}
</ul>
</div>
</div>
</div>
{%  endif %}
{% if menu %}
{% for item in menu %}
    <div class="card border-bottom bl-0 br-0 bt-0">
    <div class="card-header b-0 p-0 border bg-transparent" id="cleanHeadingBorder{{item.id}}">
    <h2 class="mb-0">
    <button class="fs--18 btn btn-link btn-block btn-lg text-align-start text-decoration-none text-dark collapsed" 
            type="button" data-toggle="collapse" data-target="#borderCollapse{{item.id}}" aria-expanded="false" 
            aria-controls="borderCollapse{{item.id}}">
    {{ item.titulo }}
    <span class="group-icon float-end text-danger">
    <i class="fi fi-arrow-start"></i>
    <i class="fi fi-arrow-down"></i>
    </span>
    </button>
    </h2>
    </div>

    <div id="borderCollapse{{item.id}}" class="collapse" aria-labelledby="cleanHeadingBorder{{item.id}}" 
         data-parent="#accordionBottomBorder" style="">
    <div class="card-body">
    {% if item.submenu %}
    <ul id="footer_c1" class="nav flex-column d-lg-block">
        {% for sitem in item.submenu %}
        <li class="list-item">
            {%if sitem.contenido %}
                <a class="d-block py-1" href="{{constant('ROOT')}}?topic={{item.id}}&item={{sitem.id}}">{{sitem.titulo}}</a>
            {%else%}
                <a class="d-block py-1 text-muted" href="#!">{{sitem.titulo}}</a>
            {%endif%}
        </li>
        {% endfor %}
        <!--li class="list-item">
            <a class="d-block py-1" href="#!">Registrar Condominio</a>
        </li>
        <li class="list-item">
            <a class="d-block py-1" href="#!">Cargar Datos Propietarios</a>
        </li>
        <li class="list-item">
            <a class="d-block py-1" href="#!">Cargar Deuda Inicial</a>
        </li>
        <li class="list-item">
            <a class="d-block py-1" href="#!">Registrar Cuenta Bancaria</a>
        </li-->
        
    </ul>
    {% endif %}
    </div>
    </div>
</div>
{% endfor %}
{%  endif %}    
</div>
</div>
</section>
<!-- /INTRO -->
<!-- start :: help center -->
<!--section>
<div class="container">
<div class="text-center">
<h2 class="font-weight-light text-center mb-5 mt-5">
Don't find your answer?
</h2>
<a href="contact-1.html" class="btn btn-lg btn-primary btn-soft">
Contact <b>Smarty</b> Support
</a>
</div>
</div>
</section-->
<!-- end :: help center -->
{% include 'misc/pie.html.twig' %}
</div><!-- /#wrapper -->
<script src="assets/js/core.min.js"></script>
</body>
</html>